.searchBar {
    background-color: #E6E8E6;
    margin-right: 10px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    border: none;
}

.searchButton {
    background-color: #a4a9a4;
    border-radius: 40px;
}